a {
  color: #1fa12e;
}
a:hover {
  color: #3C7043;
  text-decoration: underline;
}
figure {
  text-align: center;
  font-size: smaller;
  font-style: italic;
}
.clv_main_wrapper .clv_header .clv_left_header {
  padding: 10px 0px;
  text-align: center;
}

.clv_main_wrapper .clv_header .clv_left_header .slogan {
  font-family: 'Kaushan Script', cursive;
  color: rgb(0,93,40);
}

.clv_logo img {
  height: 140px;
}

.clv_right_header .clv_address .address_block p {
  line-height: 1.5;
}

.index_v2.clv_main_wrapper .clv_header .clv_right_header .clv_address {
  margin-left: auto;
  padding: 42px 0px 35px;
}
.index_v2.clv_main_wrapper .clv_right_header .clv_menu {
  justify-content: flex-end;
  padding-right: 190px;
}
.index_v2.clv_main_wrapper .clv_right_header .clv_menu .clv_menu_nav > ul > li:last-child > a {
  padding-right: 15px;
  border-right: 1px solid #ececec;
}
.index_v2.clv_main_wrapper .clv_right_header .clv_menu .clv_menu_nav > ul > li > a:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  .index_v2.clv_main_wrapper .clv_right_header .clv_menu {
    left: auto;
    padding-right: 20px;
  }
  .clv_right_header .clv_menu .clv_menu_nav {
    background-color: rgb(0,93,40);
  }

  .index_v2.clv_main_wrapper .clv_right_header .clv_menu .clv_menu_nav > ul > li:last-child > a {
    border-right: none;
    padding-right: 0;
  }
}

.clv_right_header .clv_menu .cart_nav > ul > li > a > svg > path{
  fill: #000000;
}

.clv_right_header .clv_menu .cart_nav > ul > li > a > svg {
  width: 18px;
  height: 20px;
}

.clv_right_header .clv_menu .cart_nav ul > li > a.cart_toggle > span{
  background-color: #20A12E;
  color: #ffffff;
}

.address_block .agri_social_links {
  margin-top: 5px;
}

.breadcrumb_wrapper {
  margin-bottom: 50px;
}

.breadcrumb_wrapper .breadcrumb_inner h1 {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
}

.index_v2 .breadcrumb_block {
  background-color: #1fa12e;
}

.index_v2 main {
  padding-top: 25px;
}

.path-frontpage .index_v2 main {
  padding-top: 0px;
}

.clv_footer_wrapper {
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.clv_footer_wrapper .addr_icon {
  vertical-align: middle;
}
.clv_footer_wrapper .addr_icon + div {
  padding-left: 20px;
  padding-top: 10px;
  display: inline-block;
}
.clv_footer_wrapper .agri_social_links {
  margin-top: 0;
}

/* Bootstrap overrides */

:root {
  --primary: #1fa12e;
}
.btn {
  border-radius: 1rem;
}

.btn-primary {
  background-color: #1fa12e;
  border-color: #1fa12e;
}

.btn-lg {
  border-radius: 1.25rem;
}

.background-style {
  background-position: center;
}
/* Carousel */

.featured-cta {
  background-color: #3d3d3d;
}
.featured-cta .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.carousel-caption {
  background-color: rgba(0,0,0,.7);
}
.carousel-item .container {
  padding-left: 0;
  padding-right: 0;
}
.featured-cta .carousel-control-prev {
  opacity: 1;
  background-image: linear-gradient(to left, rgba(61,61,61,0), rgba(61,61,61,1));
}
.featured-cta .carousel-control-next {
  opacity: 1;
  background-image: linear-gradient(to right, rgba(61,61,61,0), rgba(61,61,61,1));
}

.featured-cta .carousel-control-prev:hover > span, .featured-cta .carousel-control-next:hover > span {
  opacity: 1;
}

.carousel-control-prev span, .carousel-control-next span {
  opacity: .5;
  line-height: 2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  background-color: rgba(0,0,0,.5);
}

.juicer-feed h1.referral {
  display:none !important;
}

.juicer-feed .juicer-about {
  display: none !important;
}



.clv_newsletter_wrapper {
  margin-top: 50px;
  margin-bottom: -50px;
}

/* Footer */
.clv_footer_wrapper .row > div > div {
  margin: auto;
  width: 60%;
}

.clv_footer_wrapper h2 {
  border-bottom: 1px solid #abcc20;
  margin-bottom: 10px;
  text-align: center;
}

.clv_footer_wrapper #block-mainnavigation li {
  padding-left: 36px;
  padding-top: 10px;
}
.clv_footer_wrapper #block-hangout ul {
  padding-left: 36px;
  padding-top: 10px;
}
.clv_footer_wrapper a {
  color: #ffffff;
}

.clv_footer_wrapper a:hover {
  color: #1fa12e;
}

.path-frontpage {
  background-color: #f4f8ff;
}

/* Blog Teaser */

.blog_section .agri_blog_image .agri_blog_topic{
  position: absolute;
  bottom: -20px;
  right: 35px;
  display: flex;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: center;
  text-transform: capitalize;
  width: 170px;
  height: 45px;
  font-size: 18px;
  font-weight: 700;
  color: #1fa12e;
  background-color: #ffffff;
  border-radius: 30px;
}

.blog_section .agri_blog_image .agri_blog_topic a {
  color: #1fa12e;
}

.sidebar_search button {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.author_message_box {
  background-color: #1fa12e;
}

#views-exposed-form-blog-search-page-1 {
  display: none;
}

#block-views-block-tags-tag-block div > div:not(.contextual){
  display: inline-block;
}

.blog_section blockquote {
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  text-align: center;
  background-image: url(../images/bg_quote.png);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  color: #222222;
  font-style: italic;
  min-height: 106px;
}

.layout-sidebar-second h2 {
  font-size: 24px;
  font-weight: 600;
  color: #222222;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.layout-sidebar-second h2:after {
  content: ' ';
  display:block;
  width: 50%;
  border-bottom: 2px solid #2B5D28;
}
.blog_section .agri_blog_content {
  padding:30px 10px;
}

.layout-sidebar-second > div > div {
  margin-bottom: 30px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .carousel-caption p {
    font-size: 1.25rem;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .carousel-caption p {
    font-size: 1.75rem;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .carousel-caption p {
    font-size: 2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .carousel-caption p {
    font-size: 2.5em;
  }
}

@media (max-width: 767px) {
  .layout-sidebar-second {
    margin-top: 80px;
  }

  .blog_section .agri_blog_image .agri_blog_date, .blog_section .agri_blog_image .agri_blog_topic {
    width: 135px;
    font-size: 14px;
    height: 30px;
    bottom: -15px;
  }
  .blog_section .agri_blog_image .agri_blog_date {
    left: 15px;
  }
  .blog_section .agri_blog_image .agri_blog_topic {
    right: 15px;
  }

  .agri_blog_content img {
    width: 100%;
  }

  .agri_blog_content .author_message_box img {
    width: auto;
  }

  .paragraph--type--bp-simple img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 5px;
    padding-left: 5px;
  }
  .container {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.blazy--field-media-image--large img {
  width: 100%;
  height: 100%;
}
