@charset "UTF-8";
:root,
[data-bs-theme=light] {
  --beo-violet: #41449f;
  --beo-red: #ff4141;
  --beo-orange: #f28d4f;
  --beo-green: #00746b;
  --beo-blue: #72b5e4;
  --beo-white: #fff;
  --beo-gray: #6c757d;
  --beo-gray-dark: #343a40;
  --beo-gray-100: #f8f9fa;
  --beo-gray-200: #e9ecef;
  --beo-gray-300: #dee2e6;
  --beo-gray-400: #ced4da;
  --beo-gray-500: #adb5bd;
  --beo-gray-600: #6c757d;
  --beo-gray-700: #495057;
  --beo-gray-800: #343a40;
  --beo-gray-900: #272727;
  --beo-primary: #1fa12e;
  --beo-secondary: #6c757d;
  --beo-success: #00746b;
  --beo-info: #72b5e4;
  --beo-warning: #f28d4f;
  --beo-danger: #ff4141;
  --beo-light: #f8f9fa;
  --beo-dark: #272727;
  --beo-white: #fff;
  --beo-black: #000;
  --beo-primary-rgb: 31, 161, 46;
  --beo-secondary-rgb: 108, 117, 125;
  --beo-success-rgb: 0, 116, 107;
  --beo-info-rgb: 114, 181, 228;
  --beo-warning-rgb: 242, 141, 79;
  --beo-danger-rgb: 255, 65, 65;
  --beo-light-rgb: 248, 249, 250;
  --beo-dark-rgb: 39, 39, 39;
  --beo-white-rgb: 255, 255, 255;
  --beo-black-rgb: 0, 0, 0;
  --beo-primary-text-emphasis: #1a1b40;
  --beo-secondary-text-emphasis: #2b2f32;
  --beo-success-text-emphasis: #002e2b;
  --beo-info-text-emphasis: #2e485b;
  --beo-warning-text-emphasis: #613820;
  --beo-danger-text-emphasis: #661a1a;
  --beo-light-text-emphasis: #495057;
  --beo-dark-text-emphasis: #495057;
  --beo-primary-bg-subtle: #d9daec;
  --beo-secondary-bg-subtle: #e2e3e5;
  --beo-success-bg-subtle: #cce3e1;
  --beo-info-bg-subtle: #e3f0fa;
  --beo-warning-bg-subtle: #fce8dc;
  --beo-danger-bg-subtle: #ffd9d9;
  --beo-light-bg-subtle: #fcfcfd;
  --beo-dark-bg-subtle: #ced4da;
  --beo-primary-border-subtle: #b3b4d9;
  --beo-secondary-border-subtle: #c4c8cb;
  --beo-success-border-subtle: #99c7c4;
  --beo-info-border-subtle: #c7e1f4;
  --beo-warning-border-subtle: #fad1b9;
  --beo-danger-border-subtle: #ffb3b3;
  --beo-light-border-subtle: #e9ecef;
  --beo-dark-border-subtle: #adb5bd;
  --beo-white-rgb: 255, 255, 255;
  --beo-black-rgb: 0, 0, 0;
  --beo-font-sans-serif: system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --beo-font-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
  --beo-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --beo-body-font-family: var(--beo-font-sans-serif);
  --beo-body-font-size: 1rem;
  --beo-body-font-weight: 400;
  --beo-body-line-height: 1.5;
  --beo-body-color: #272727;
  --beo-body-color-rgb: 39, 39, 39;
  --beo-body-bg: #fff;
  --beo-body-bg-rgb: 255, 255, 255;
  --beo-emphasis-color: #000;
  --beo-emphasis-color-rgb: 0, 0, 0;
  --beo-secondary-color: rgba(39, 39, 39, 0.75);
  --beo-secondary-color-rgb: 39, 39, 39;
  --beo-secondary-bg: #e9ecef;
  --beo-secondary-bg-rgb: 233, 236, 239;
  --beo-tertiary-color: rgba(39, 39, 39, 0.5);
  --beo-tertiary-color-rgb: 39, 39, 39;
  --beo-tertiary-bg: #f8f9fa;
  --beo-tertiary-bg-rgb: 248, 249, 250;
  --beo-heading-color: inherit;
  --beo-link-color: #41449f;
  --beo-link-color-rgb: 65, 68, 159;
  --beo-link-decoration: none;
  --beo-link-hover-color: #34367f;
  --beo-link-hover-color-rgb: 52, 54, 127;
  --beo-code-color: #d63384;
  --beo-highlight-color: #272727;
  --beo-highlight-bg: #fcf8e3;
  --beo-border-width: 1px;
  --beo-border-style: solid;
  --beo-border-color: #dee2e6;
  --beo-border-color-translucent: rgba(0, 0, 0, 0.175);
  --beo-border-radius: 0.25rem;
  --beo-border-radius-sm: 0.2rem;
  --beo-border-radius-lg: 0.3rem;
  --beo-border-radius-xl: 1rem;
  --beo-border-radius-xxl: 2rem;
  --beo-border-radius-2xl: var(--beo-border-radius-xxl);
  --beo-border-radius-pill: 50rem;
  --beo-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --beo-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --beo-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --beo-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --beo-focus-ring-width: 0.25rem;
  --beo-focus-ring-opacity: 0.25;
  --beo-focus-ring-color: rgba(65, 68, 159, 0.25);
  --beo-form-valid-color: #00746b;
  --beo-form-valid-border-color: #00746b;
  --beo-form-invalid-color: #ff4141;
  --beo-form-invalid-border-color: #ff4141;
}
a {
  color: #1fa12e;
}
a:hover {
  color: #3C7043;
  text-decoration: underline;
}
figure {
  text-align: center;
  font-size: smaller;
  font-style: italic;
}

.form-item {
  margin-bottom: 1rem;
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-text {
  margin-top: 0;
  font-size: 0.8125rem;
  color: #6c757d;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5;
  color: #272727;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5;
  color: #272727;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control[type=file] {
  overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #272727;
  background-color: #fff;
  border-color: gray;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
}
.form-control::-webkit-date-and-time-value {
  min-width: 85px;
  height: 1.5em;
  margin: 0;
}
.form-control::-webkit-datetime-edit {
  display: block;
  padding: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.clv_main_wrapper .clv_header .clv_left_header {
  padding: 10px 0px;
  text-align: center;
}

.clv_main_wrapper .clv_header .clv_left_header .slogan {
  font-family: 'Kaushan Script', cursive;
  color: rgb(0,93,40);
}
.clv_logo img {
  height: 140px;
}

.clv_right_header .clv_address .address_block p {
  line-height: 1.5;
}

.index_v2.clv_main_wrapper .clv_header .clv_right_header .clv_address {
  margin-left: auto;
  padding: 42px 0px 35px;
}
.index_v2.clv_main_wrapper .clv_right_header .clv_menu {
  justify-content: flex-end;
  padding-right: 190px;
}
.index_v2.clv_main_wrapper .clv_right_header .clv_menu .clv_menu_nav > ul > li:last-child > a {
  padding-right: 15px;
  border-right: 1px solid #ececec;
}
.index_v2.clv_main_wrapper .clv_right_header .clv_menu .clv_menu_nav > ul > li > a:hover {
  text-decoration: none;
}
.index_v2 .we-can-help-block .clv_section{
  padding: 20px 0;
}
.index_v2 .we-can-help-block .clv_section .feature_block{
  min-height: 610px;
}
.index_v2 .real-food  {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.06);
    padding: 20px 10px;
    margin: 30px 10px;
    text-align: center;
}


.clv_right_header .clv_menu .cart_nav > ul > li > a > svg > path{
  fill: #000000;
}

.clv_right_header .clv_menu .cart_nav > ul > li > a > svg {
  width: 18px;
  height: 20px;
}

.clv_right_header .clv_menu .cart_nav ul > li > a.cart_toggle > span{
  background-color: #20A12E;
  color: #ffffff;
}

.address_block .agri_social_links {
  margin-top: 5px;
}

.breadcrumb_wrapper {
  margin-bottom: 50px;
}

.breadcrumb_wrapper .breadcrumb_inner h1 {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
}

.index_v2 .breadcrumb_block {
  background-color: #1fa12e;
}

.index_v2 main {
  padding-top: 25px;
}

.path-frontpage .index_v2 main {
  padding-top: 0px;
}

.clv_footer_wrapper {
  margin-top: 15px;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.clv_footer_wrapper .addr_icon {
  vertical-align: middle;
}
.clv_footer_wrapper .addr_icon + div {
  padding-left: 20px;
  padding-top: 10px;
  display: inline-block;
}
.clv_footer_wrapper .agri_social_links {
  margin-top: 0;
}

.about-block {
  padding: 30px 20px;
  background-color: #f4f9ff;
  border-radius: 10px;
  text-align: left;
  transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.06);
  margin: 15px auto;
}

.about-block .card-img-container {
  margin: 15px auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.about-block .card-img-container img {
  width: 100%;
  height: auto;
}

.view-product-catalog .views-field-out-of-stock {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, .75);
    font-size: xx-large;
    text-align: center;
    padding-right: 10%;
}

/* Bootstrap overrides */

.btn {
  border-radius: 1rem;
}

.btn-lg {
  border-radius: 1.25rem;
}

.background-style {
  background-position: center;
}

.alert {
  margin-top: 35px;
}
/* Carousel */


.featured-cta {
  z-index: 1;
  background-color: #3d3d3d;
}
.featured-cta .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.carousel-caption {
  background-color: rgba(0,0,0,.7);
}

.featured-cta .carousel-caption {
  bottom: 25%;
}

.carousel-item .container {
  padding-left: 0;
  padding-right: 0;
}
.featured-cta .carousel-control-prev {
  opacity: 1;
  background-image: linear-gradient(to left, rgba(61,61,61,0), rgba(61,61,61,1));
}
.featured-cta .carousel-control-next {
  opacity: 1;
  background-image: linear-gradient(to right, rgba(61,61,61,0), rgba(61,61,61,1));
}

.featured-cta .carousel-control-prev:hover > span, .featured-cta .carousel-control-next:hover > span {
  opacity: 1;
}

.carousel-control-prev span, .carousel-control-next span {
  opacity: .5;
  line-height: 2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  background-color: rgba(0,0,0,.5);
}

.juicer-feed h1.referral {
  display:none !important;
}

.juicer-feed .juicer-about {
  display: none !important;
}



.clv_newsletter_wrapper {
  margin-top: 50px;
  margin-bottom: -50px;
}

.homepage-signup .clv_newsletter_wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Footer */
.clv_footer_wrapper .row > div > div {
  margin: auto;
  width: 60%;
}

.clv_footer_wrapper h2 {
  border-bottom: 1px solid #abcc20;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

.clv_footer_wrapper .navigation li {
  padding-left: 36px;
  padding-top: 10px;
}
.clv_footer_wrapper #block-hangout ul {
  padding-left: 36px;
  padding-top: 10px;
}
.clv_footer_wrapper a {
  color: #ffffff;
}

.clv_footer_wrapper a:hover {
  color: #1fa12e;
}

.path-frontpage {
  background-color: #f4f8ff;
}

/* Blog Teaser */

.blog_section .agri_blog_image .agri_blog_topic{
  position: absolute;
  bottom: -20px;
  right: 35px;
  display: flex;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: center;
  text-transform: capitalize;
  width: 170px;
  height: 45px;
  font-size: 18px;
  font-weight: 700;
  color: #1fa12e;
  background-color: #ffffff;
  border-radius: 30px;
}

.blog_section .agri_blog_image .agri_blog_topic a {
  color: #1fa12e;
}

.sidebar_search button {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.author_message_box {
  background-color: #1fa12e;
}

#views-exposed-form-blog-search-page-1 {
  display: none;
}

#block-views-block-tags-tag-block div > div:not(.contextual){
  display: inline-block;
}

.blog_section blockquote {
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  text-align: center;
  background-image: url(../images/bg_quote.png);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  color: #222222;
  font-style: italic;
  min-height: 106px;
}

.layout-sidebar-second h2 {
  font-size: 24px;
  font-weight: 600;
  color: #222222;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.layout-sidebar-second h2:after {
  content: ' ';
  display:block;
  width: 50%;
  border-bottom: 2px solid #2B5D28;
}
.blog_section .agri_blog_content {
  padding:30px 10px;
}

.layout-sidebar-second > div > div {
  margin-bottom: 30px;
}

.bootstrap-basic-image-gallery .main-image img {
  width: 100%;
  height: auto;
}
.bootstrap-basic-image-gallery .modal .carousel .item img {
  width: 100%;
  height: auto;
}

.accordion {
  --beo-accordion-color: var(--beo-body-color);
  --beo-accordion-bg: var(--beo-body-bg);
  --beo-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --beo-accordion-border-color: var(--beo-border-color);
  --beo-accordion-border-width: var(--beo-border-width);
  --beo-accordion-border-radius: var(--beo-border-radius);
  --beo-accordion-inner-border-radius: calc(var(--beo-border-radius) - (var(--beo-border-width)));
  --beo-accordion-btn-padding-x: 1.25rem;
  --beo-accordion-btn-padding-y: 1.25rem;
  --beo-accordion-btn-color: var(--beo-body-color);
  --beo-accordion-btn-bg: var(--beo-accordion-bg);
  --beo-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23272727' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  --beo-accordion-btn-icon-width: 1.125rem;
  --beo-accordion-btn-icon-transform: rotate(-180deg);
  --beo-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --beo-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%231a1b40' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  --beo-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
  --beo-accordion-body-padding-x: 1.25rem;
  --beo-accordion-body-padding-y: 1.25rem;
  --beo-accordion-active-color: var(--beo-primary);
  --beo-accordion-active-bg: transparent;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--beo-accordion-btn-padding-y) var(--beo-accordion-btn-padding-x);
  font-size: 1rem;
  color: var(--beo-accordion-btn-color);
  text-align: left;
  background-color: var(--beo-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--beo-accordion-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}
.accordion-button:not(.collapsed) {
  color: var(--beo-accordion-active-color);
  background-color: var(--beo-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--beo-accordion-border-width)) 0 var(--beo-accordion-border-color);
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--beo-accordion-btn-active-icon);
  transform: var(--beo-accordion-btn-icon-transform);
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--beo-accordion-btn-icon-width);
  height: var(--beo-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--beo-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--beo-accordion-btn-icon-width);
  transition: var(--beo-accordion-btn-icon-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}
.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: var(--beo-accordion-btn-focus-box-shadow);
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  color: var(--beo-accordion-color);
  background-color: var(--beo-accordion-bg);
  border: var(--beo-accordion-border-width) solid var(--beo-accordion-border-color);
}
.accordion-item:first-of-type {
  border-top-left-radius: var(--beo-accordion-border-radius);
  border-top-right-radius: var(--beo-accordion-border-radius);
}
.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: var(--beo-accordion-inner-border-radius);
  border-top-right-radius: var(--beo-accordion-inner-border-radius);
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: var(--beo-accordion-border-radius);
  border-bottom-left-radius: var(--beo-accordion-border-radius);
}
.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: var(--beo-accordion-inner-border-radius);
  border-bottom-left-radius: var(--beo-accordion-inner-border-radius);
}
.accordion-item:last-of-type > .accordion-collapse {
  border-bottom-right-radius: var(--beo-accordion-border-radius);
  border-bottom-left-radius: var(--beo-accordion-border-radius);
}

.accordion-body {
  padding: var(--beo-accordion-body-padding-y) var(--beo-accordion-body-padding-x);
}

.accordion-flush > .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.accordion-flush > .accordion-item:first-child {
  border-top: 0;
}
.accordion-flush > .accordion-item:last-child {
  border-bottom: 0;
}
.accordion-flush > .accordion-item > .accordion-header .accordion-button, .accordion-flush > .accordion-item > .accordion-header .accordion-button.collapsed {
  border-radius: 0;
}
.accordion-flush > .accordion-item > .accordion-collapse {
  border-radius: 0;
}

[data-bs-theme=dark] .accordion-button::after {
  --beo-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238d8fc5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --beo-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238d8fc5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.block-facets {
  --beo-nav-link-padding-x: 1rem;
  --beo-nav-link-padding-y: 0.5rem;
  --beo-nav-link-font-size: 1em;
  --beo-nav-link-font-weight: 300;
  --beo-nav-link-color: currentcolor;
  --beo-nav-link-hover-color: var(--beo-link-hover-color);
  --beo-nav-link-disabled-color: var(--beo-secondary-color);
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.facet-item {
  font-size: 1.125rem;
}
.facet-item label {
  margin-left: 0.25rem;
  font-size: 1rem;
}
.facet-item .nav {
  margin-left: -1rem;
}
.facet-item .facet-item {
  font-size: 1rem;
}
.facet-item .facet-item label {
  font-size: 0.875rem;
}

.pager__items {
  clear: both;
  text-align: center;
}
.pager__item {
  display: inline;
  padding: 0.5em;
}
.pager__item.is-active {
  font-weight: bold;
}

.cart-block--contents__items {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
}

/* fix user pages */
.layout-container {
    margin: 0;
}

@media (max-width: 1199px) {
  .index_v2.clv_main_wrapper .clv_right_header .clv_menu {
    padding-right: 185px;
  }
}

@media (max-width: 991px) {
  .index_v2.clv_main_wrapper .clv_right_header .clv_menu {
    left: auto;
    padding-right: 20px;
  }
  .clv_right_header .clv_menu .clv_menu_nav {
    background-color: rgb(0,93,40);
  }

  .index_v2.clv_main_wrapper .clv_right_header .clv_menu .clv_menu_nav > ul > li:last-child > a {
    border-right: none;
    padding-right: 0;
  }

  .clv_logo img {
    height: 105px;
  }
  .accordion-button {
    padding: calc( var(--beo-accordion-btn-padding-y)/2 ) calc( var(--beo-accordion-btn-padding-x)/2 );
  }

  .view-product-catalog .views-field-out-of-stock {
    top: 23%;
  }

}


@media screen and (min-width: 38em) {
  .layout-container {
    margin: 0;
  }
}
.phone-number-field .local-number {
    width: 100%;
    height: auto;
    border-width: 1px;
}
th.views-field-remove-button {
  font-size: 0;
}
.delete-order-item {
  width: 2em;
}
.js .dropbutton-multiple {
  padding-right: 0px !important;
}
.phone-number-field div.form-item {
  display: block !important;
}
.nav-pills .nav-link.is-active
 {
    color: #fff;
    background-color: #1FA12E;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .carousel-caption p {
    font-size: 1.25rem;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .carousel-caption p {
    font-size: 1.75rem;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .carousel-caption p {
    font-size: 2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .carousel-caption p {
    font-size: 2.5em;
  }
}

@media (max-width: 767px) {
  .layout-sidebar-second {
    margin-top: 80px;
  }

  .blog_section .agri_blog_image .agri_blog_date, .blog_section .agri_blog_image .agri_blog_topic {
    width: 135px;
    font-size: 14px;
    height: 30px;
    bottom: -15px;
  }
  .blog_section .agri_blog_image .agri_blog_date {
    left: 15px;
  }
  .blog_section .agri_blog_image .agri_blog_topic {
    right: 15px;
  }

  .agri_blog_content img {
    width: 100%;
  }

  .agri_blog_content .author_message_box img {
    width: auto;
  }

  .paragraph--type--bp-simple img {
    width: 100%;
  }

  .slogan {
    display:none;
  }

  .index_v2 main {
    padding-top: 0px;
  }

  .view-product-catalog .views-field-out-of-stock {
    top: 25%;
  }

}

@media (max-width: 575px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 5px;
    padding-left: 5px;
  }
  .container {
    padding-right: 5px;
    padding-left: 5px;
  }
  .view-commerce-cart-form table {
    font-size: .6rem;
  }

  .view-commerce-cart-form table div.images img {
    width: 50px;
    height: auto;
  }
  .featured-cta .carousel-caption {
    bottom: 20px;
  }

  .view-product-catalog .views-field-out-of-stock {
    top: 25%;
  }

}

.blazy--field-media-image--large img {
  width: 100%;
  height: 100%;
}

.g-0, .no-gutters,
.gx-0 {
  --beo-gutter-x: 0;
}

.g-0, .no-gutters,
.gy-0 {
  --beo-gutter-y: 0;
}

.g-1,
.gx-1 {
  --beo-gutter-x: 0.25rem;
}

.g-1,
.gy-1 {
  --beo-gutter-y: 0.25rem;
}

.g-2,
.gx-2 {
  --beo-gutter-x: 0.5rem;
}

.g-2,
.gy-2 {
  --beo-gutter-y: 0.5rem;
}

.g-3,
.gx-3 {
  --beo-gutter-x: 1rem;
}

.g-3,
.gy-3 {
  --beo-gutter-y: 1rem;
}

.g-4,
.gx-4 {
  --beo-gutter-x: 1.5rem;
}

.g-4,
.gy-4 {
  --beo-gutter-y: 1.5rem;
}

.g-5,
.gx-5 {
  --beo-gutter-x: 3rem;
}

.g-5,
.gy-5 {
  --beo-gutter-y: 3rem;
}

.g-6,
.gx-6 {
  --beo-gutter-x: 4.5rem;
}

.g-6,
.gy-6 {
  --beo-gutter-y: 4.5rem;
}

.fs-1 {
  font-size: calc(1.375rem + 1.5vw) !important;
}

.fs-2 {
  font-size: calc(1.325rem + 0.9vw) !important;
}

.fs-3 {
  font-size: calc(1.3rem + 0.6vw) !important;
}

.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}

.fs-md {
  font-size: 1.125rem !important;
}

.fs-sm {
  font-size: 0.875rem !important;
}
@media (min-width: 1200px) {
  .fs-1 {
    font-size: 2.5rem !important;
  }

  .fs-2 {
    font-size: 2rem !important;
  }

  .fs-3 {
    font-size: 1.75rem !important;
  }

  .fs-4 {
    font-size: 1.5rem !important;
  }
}
