{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
    'sidebar_search',
] %}
<div{{ attributes.addClass(classes) }}>
<form action="/blog/search" method="get">
    <input type="text" name="search_api_views_fulltext" placeholder="Search here" type="text" />
    <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
</form>
</div>
