parameters:
  level: 2
  paths:
    - web/modules/custom
  excludePaths:
    - '*/tests/*'
  ignoreErrors:
    -
      identifier: new.static
    -
      identifier: globalDrupalDependencyInjection.useDependencyInjection
