{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}
<!--Contact Form-->
<div class="contact_form_section form_block">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3>Let's Connect!</h3>
            <p class="lead">We're so glad y'all are here! <strong>Welcome to the farm.</strong></p>
            <p class="lead">Our little community's made up of folks who care about what they feed their families and who want real food raised with respect for the land and the animals.</p>
            <p class="lead"><strong>We'd love to hear from you.</strong> It helps us know what matters most to the people we serve.</p>
            <ul class="lead">
            <li><b>Have questions</b> about our farm, products, or services?</li>
            <li>Are you <b>curious</b> about our farming practices?</li>
            <li><b>Interested</b> in our seasonal offerings?</li>
            <li>Just want to say hello?</li>
            </ul>
            <p class="lead"><b>Feel free to reach out.</b></p>
        </div>
    </div>
    <div id="contact" class="contact_blocks_wrapper clv_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="contact_block">
                        <span></span>
                        <div class="contact_icon"><img src="/themes/custom/mcgreen_acres_theme/images/contact_icon1.png" alt="image"/></div>
                        <h4>Give us a Ring!</h4>
                        <p>
                            <a href="tel:469-248-5703">(469) 248-5703</a>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="contact_block">
                        <span></span>
                        <div class="contact_icon"><img src="/themes/custom/mcgreen_acres_theme/images/contact_icon2.png" alt="image"/></div>
                        <h4>Send us an Email!</h4>
                        <p><a href="#contact-form">info@mcgreenacres.com</a></p>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="contact_block">
                        <span></span>
                        <div class="contact_icon"><img src="/themes/custom/mcgreen_acres_theme/images/contact_icon3.png" alt="image"/></div>
                        <h4>Drop by!</h4>
                        <p>2414 Westmoreland Rd</p>
                        <p>Red Oak, Texas 75154</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="directions" class="contact_blocks_wrapper clv_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="w-100" style="height: 400px; background-position: center center; background-image: url('/themes/custom/mcgreen_acres_theme/images/map.png');"><a href="https://maps.app.goo.gl/g27qR5a6KtSQ9XrS7" target="_blank" rel="noopener noreferrer" style="position:absolute; width:100%; height:100%; top:0; left: 0; z-index: 1;">&nbsp;</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact_blocks_wrapper clv_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div id="hours" class="timetable_block">
                            <h5>Farm Visits and Pickups by Appointment</h5>
                            <p>We welcome visitors to the farm <b>by appointment only</b>. Please call us to schedule your visit or pickup.</p>
                            <h5>Self Serve Farm Stand hours</h5>
                            <p>Our farm stand is open seasonally from <b>spring through fall</b>.</p>
                            <ul>
                                <li>
                                    <p>monday</p>
                                    <p>Closed</p>
                                </li>
                                <li>
                                    <p>tuesday</p>
                                    <p>9:00 AM - 7:00 PM</p>
                                </li>
                                <li>
                                    <p>wednesday</p>
                                    <p>9:00 AM - 7:00 PM</p>
                                </li>
                                <li>
                                    <p>thursday</p>
                                    <p>9:00 AM - 7:00 PM</p>
                                </li>
                                <li>
                                    <p>friday</p>
                                    <p>Closed</p>
                                </li>
                                <li>
                                    <p>saturday</p>
                                    <p>9:00 AM - 7:00 PM</p>
                                </li>
                                <li>
                                    <p>sunday</p>
                                    <p>9:00 AM - 7:00 PM</p>
                                </li>
                            </ul>
                        </div>
                </div>
                <div id="contact-form" class="col-md-8 col-lg-8">
                <h3>Email Us</h3>
                    {{ form }}
                </div>
            </div>
        </div>
    </div>
</div>

