{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}
<div class="container">
  <div class="row">
    <div id="mc_embed_shell" class="col-md-12">
      <div id='newsletter' class="clv_newsletter_wrapper">
        <div class="newsletter_text">
          <h2>Download the free guide to Honey &amp; Seasonal Wellness</h2>
        </div>
        <div class="newsletter_field mc-field-group">
          <h3>A practical guide for using honey in keeping families healthy.</h3>
          <p>Sign up and also receive news and special offers from McGreen Acres.</p>
            <div class="newsletter_field_block">
            {{ form }}
            </div>
          <div id="mce-responses" class="clear foot">
            <div class="response alert alert-danger" id="mce-error-response" style="display: none;"></div>
            <div class="response alert alert-success" id="mce-success-response" style="display: none;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
