{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('author_message_box') }}>
  {% if content.user_picture|render|trim %}
    <div class="author_image">
      {{ content.user_picture }}
    </div>
  {% endif %}
  <div class="author_content">
    <div class="social_name">
      <h3>Authored By - <span> {{ user.displayname }} </span></h3>
    </div>
    {{ content.field_author_description }}
  </div>
</article>
