{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
{% import "@mcgreen_acres_theme/macros.twig" as svg %}

<div class="cart-empty-page text-align-center h4">
  <div>
    {{ svg.getIcon('bag-x-fill', 42, 42, 'text-primary mb-4') }}
  </div>
  {{ 'Your shopping cart is empty.'|t }}
  <br />
  <a href="/product" class="btn btn-lg btn-primary mt-4">
    {{ 'Continue Shopping'|t }}
  </a>
</div>
