.product-image {
  margin-bottom: 2px;
  min-height: 252px;
}
.product-image img {
  width: 100%;
  height: auto;
  transition: opacity 0.2s ease;
}
.product-hover {
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 1;
}
.featured-flag {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  padding: 5px;
  border-radius: 3px;
}

.product-info {
  height: 4rem;
  border-bottom: 2px solid currentcolor;
  transition: all 0.2s ease;
}
.product-title {
  line-height: 1.2;
  transition: all 0.2s ease;
  padding-right: 3rem;
}
.product-title a {
  color: var(--beo-body-color);
}
.product-title h1 {
  font-size: 1.2rem;;
}
.product:hover .product-image img {
  opacity: 0.8;
}
.product:hover .product-info {
  padding: 0 1rem;
  background-color: var(--beo-primary);
  color: var(--beo-white);
}
.product:hover .product-title {
  padding-right: 1rem;
  color: var(--beo-white);
}
.product:hover .product-title a {
  color: var(--beo-white);
}
.product:hover .product-hover {
  opacity: 1;
}

.text-white .product {
  --beo-primary: #fff;
  --beo-white: var(--beo-dark);
  --beo-body-color: #fff;
}
