.quick-stock-edit-link {
  margin-left: 0.5em;
  font-size: 0.85em;
  white-space: nowrap;
}

.quick-stock-current-level {
  font-weight: bold;
  font-size: 1.25em;
}

.quick-stock-buttons {
  display: flex;
  gap: 0.25em;
  margin-bottom: 1em;
}

.quick-stock-delta-button {
  min-width: 3em;
}
