includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  level: 1

  excludePaths:
    - src/Plugin/Field/FieldFormatter/ShippingInformationFormatter.php

  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
    -
      message: '#Attribute class Drupal\\Core\\Hook\\Attribute\\LegacyHook does not exist.#'
      reportUnmatched: false
    -
      message: '#Attribute class Drupal\\Core\\Hook\\Attribute\\Hook does not exist.#'
      reportUnmatched: false
    -
      # The argument is commented out for BC reasons until Drupal 12. PhpStan
      # apparently does not understand that syntax.
      message: "#^Method Drupal\\\\Core\\\\Config\\\\Entity\\\\ConfigEntityListBuilder::getDefaultOperations\\(\\) invoked with 2 parameters, 1 required\\.$#"
      path: src/ShipmentListBuilder.php
      reportUnmatched: false
    -
      # BC layer: the CacheableMetadata parameter was added in Drupal 11.3,
      # but we still support earlier core versions.
      identifier: drupal.entityListBuilderMissingCacheabilityParameter
      reportUnmatched: false
